* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: rgb(49, 49, 49);
}

.max-width {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15%;
    background-color: rgb(209, 209, 209);
    box-shadow: 0 1px 3px #FFF;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    padding-bottom: 15px;
}

button {
    margin: 5px;
    padding: 15px;
    border: none;
    outline: none;
    font-family: 'Segoe UI';
    font-size: 1.1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: #b9bcbd;
}

button:active {
    background-color: #111;
}

.bg-green {
    background-color: #16af37;
}

.bg-yellow {
    background-color: #f3de3e;
}

.bg-red {
    background-color: #f53333;
}